body{
margin: 0;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
font-family: arial;
height: 100vh;
}

.container{
  vertical-align: center;
}
button{
  font-weight: 400;
  color: #47f;
  font-size: 45px;
  border:2px solid #47f;
  cursor: pointer;
  padding: 20px 30px;
}
#instructions{
  margin-top: 20px;
  color: gray;
  font-size: 20px;
}
#info{
  color:#47f;
}
